# General files
.git
.github
config
docs

# Development
.devcontainer
.vscode
.tool-versions

# Test related files
tests

# Other virtualization methods
venv
.venv
.vagrant

# Temporary files
**/__pycache__

# Docker volumes / model cache
model-cache
piper-data
wyoming-onnxasr
